.gallery-wrapper {
  display: flex;
  justify-content: center;
}

#gridbox {
    column-count: 3; 
    column-gap: 0.5rem;
    margin: 0 5rem;
    padding: 2.5rem 0;
    width: fit-content;

    max-width: auto;
    justify-items: center;
}

.artWrapper {
    width: 90%;
    padding: 0.75rem 0;
    
}

.art {
    width: 100%;
    height: auto;
    border: 0.5rem solid #8295aaa2;
}

@media only screen and (max-width: 621px){

    .gallery-wrapper{
        flex-wrap: wrap;
    }

    #gridbox{
        height: 100%;
        width: fit-content;

        column-count: 1;
        margin: 0 1.5rem;
        padding: 0;
    }

    .artWrapper{
        width: 95%;
        padding: 1.75rem 0;
    }
}
    
@media screen and (max-width: 950px) and (min-width: 621px){

    #gridbox{
        column-count: 2;
        margin: 0 3rem;
    }

}
